<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.wltraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main_template}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div th:fragment="sidebar">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Bulletin Board</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" th:classappend='${ #httpServletRequest.requestURI.matches("/") ? "active" : ""}' th:href="@{ / }">Dashboard</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" th:classappend='${ #httpServletRequest.requestURI.matches("/users(.*)") ? "active" : ""}' th:href="@{ /users }">Users</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" th:classappend='${ #httpServletRequest.requestURI.matches("/categories(.*)") ? "active" : ""}' th:href="@{ /categories }">Categories</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" th:classappend='${ #httpServletRequest.requestURI.matches("/posts(.*)") ? "active" : ""}' th:href="@{ /posts }">Posts</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" th:classappend='${ #httpServletRequest.requestURI.matches("/profile(.*)") ? "active" : ""}' th:href="@{ /profile/detail }">Profile</a>
            </div>
        </div>
    </div>
</body>

</html>