<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.wltraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main_template}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="mb-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{ /posts }">Posts</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Form</li>
                </ol>
            </nav>
            <h4 class="page-header-title">Post Management</h4>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="mb-3">Edit Post</h5>
                <form action="#" th:action="@{/posts/update}" th:object="${postDto}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="title" class="form-label">Post Title</label>
                        <input class="form-control" type="text" th:field="*{title}"  />
                        <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:text="${#fields.hasErrors('title')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="content" class="form-label">Post Content</label>
                        <textarea class="form-control" type="text" th:field="*{content}" rows="6"></textarea>
                        <p class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}" th:text="${#fields.hasErrors('content')}"></p>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Category</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" />
                                <label class="form-check-label">category1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" />
                                <label class="form-check-label">category2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" />
                                <label class="form-check-label">category3</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">is published</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" name="submit" value="Update Post" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>

</html>