<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.wltraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main_template}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View post</title>
  </head>

  <body>
    <div layout:fragment="content">
      <div class="mb-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{ /posts }">Posts</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${post.title}">post name</li>
          </ol>
        </nav>
        <h4 class="page-header-title">Post Detail</h4>
      </div>
      <div th:object="${post}" class="card border-primary bg-light card-whole-post">
        <div class="card-body">
            <div class="card-post-category">
                <span class="badge bg-dark text-light me-1" th:each="c : *{categoryDtos}" th:text="${c.name}">category</span>
            </div>
          <h5 class="mb-3" th:text="*{title}">Default Post Title</h5>
          <p th:text="*{content}">
            Default Post content
          </p>
          <div class="card-post-date" th:text="${date}">
            default datetime
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <a class="btn btn-secondary" th:href="@{/posts}">Back</a>
      </div>
    </div>
  </body>
</html>
