<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.wltraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main_template}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="mb-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{ /users }">Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Form</li>
                </ol>
            </nav>
            <h4 class="page-header-title">User Management</h4>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="mb-3">Edit User</h5>
                <form th:action="@{/users/update}" th:object="${userDto}" method="post">
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group">
                        <label for="name" class="form-label">Username</label>
                        <input class="form-control" th:field="*{name}"  />
                        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:text="${#fields.hasErrors('name')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control" th:field="*{email}"  />
                        <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:text="${#fields.hasErrors('email')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="text" class="form-label">Position</label>
                        <input class="form-control" th:field="*{position}"  />
                        <p class="text-danger" th:if="${#fields.hasErrors('position')}" th:errors="*{position}" th:text="${#fields.hasErrors('position')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" type="password" th:field="*{password}"  />
                        <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:text="${#fields.hasErrors('password')}"></p>
                    </div>
                    <div class="form-group">
                        <label class="form-label">role</label>
                        <div>
                            <select class="form-select" th:field="*{roleDto.id}">
                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                            </select>
                        </div>
                        <p class="text-danger" th:if="${#fields.hasErrors('roleDto')}" th:errors="*{roleDto}" th:text="${#fields.hasErrors('roleDto')}"></p>
                    </div>
                    <!-- <div class="form-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">is published</label>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <a class="btn btn-secondary me-1" th:href="@{/users}">Back</a>
                        <input class="btn btn-primary" type="submit" name="submit" value="Update User" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>

</html>