<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.wltraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_template}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All User</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="page-header-title">User list</h4>
            <a th:href="@{ /users/create }" class="btn btn-primary"> <i class="fa-thin fa-plus-large"></i> Create User</a>
        </div>
        <table id="post-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Position</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${userStat.index + 1}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.position}"></td>
                    <td th:text="${user.roleDto.name}"></td>
                    <td>
                        <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-outline-primary">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a th:href="@{/users/{id}/edit(id=${user.id})}" class="btn btn-outline-info">
                            <i class="far fa-edit"></i>
                        </a>
                        <form class="d-inline" th:action="@{/users/{id}/delete(id=${user.id})}" method="post">
                            <button class="btn btn-outline-danger ml-2">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>